<?xml version="1.0" encoding="UTF-8"?>

<!--L
  Copyright Northwestern University.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.io/psc/LICENSE.txt for details.
L-->

<!--
    This applicationContext contains OSGi-specific parts of authorization module.
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
    default-lazy-init="true"
    >

    <bean id="osgiCsmAuthorizationManager"
          class="edu.northwestern.bioinformatics.studycalendar.core.accesscontrol.OsgiAuthorizationManagerFactoryBean">
        <property name="osgiLayerTools" ref="osgiLayerTools"/>
    </bean>

    <bean id="suiteRoleMembershipLoader"
          class="edu.northwestern.bioinformatics.studycalendar.core.accesscontrol.OsgiSuiteRoleMembershipLoader">
        <property name="siteMapping" ref="authorizationSiteMapping"/>
        <property name="studyMapping" ref="authorizationStudyMapping"/>
        <property name="osgiLayerTools" ref="osgiLayerTools"/>
    </bean>
</beans>
