<!--L
  Copyright Northwestern University.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/psc/LICENSE.txt for details.
L-->

<!--
    Beans for accessing the embedded OSGi layer
    -->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    >
    <bean id="membrane" class="edu.northwestern.bioinformatics.studycalendar.utility.osgimosis.DefaultMembrane">
        <property name="nearClassLoader">
            <bean class="edu.northwestern.bioinformatics.studycalendar.core.osgi.ContextClassLoaderFactoryBean"/>
        </property>
        <property name="sharedPackages">
            <list>
                <value>edu.northwestern.bioinformatics.studycalendar.security</value>
                <value>edu.northwestern.bioinformatics.studycalendar.security.authorization</value>
                <value>edu.northwestern.bioinformatics.studycalendar.security.plugin</value>
                <value>edu.northwestern.bioinformatics.studycalendar.osgi.hostservices</value>
                <value>edu.northwestern.bioinformatics.studycalendar.dataproviders.api</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain</value>
                <value>edu.northwestern.bioinformatics.studycalendar</value>
                <value>org.springframework.validation</value>
                <value>gov.nih.nci.cabig.ctms.tools.configuration</value>

                <value>gov.nih.nci.security</value>
                <value>gov.nih.nci.security.dao</value>
                <value>gov.nih.nci.security.exceptions</value>
                <value>gov.nih.nci.security.authorization.domainobjects</value>
                <value>gov.nih.nci.security.authorization.jaas</value>

                <value>gov.nih.nci.cabig.ctms.suite.authorization</value>

                <value>org.acegisecurity</value>
                <value>org.acegisecurity.context</value>
                <value>org.acegisecurity.userdetails</value>
                <value>org.osgi.service.cm</value>
                <value>org.osgi.service.metatype</value>
                <value>org.apache.felix.cm</value>

                <value>javax.sql</value>
                <value>javax.servlet</value>
                <value>javax.servlet.http</value>
            </list>
        </property>
        <property name="proxyConstructorParameters">
            <map>
                <entry key="javax.servlet.http.Cookie">
                    <list>
                        <value>proxy-cookie</value>
                        <value>no-value</value>
                    </list>
                </entry>
                <entry key="org.acegisecurity.AuthenticationException">
                    <list>
                        <null/>
                    </list>
                </entry>
                <entry key="edu.northwestern.bioinformatics.studycalendar.StudyCalendarUserException">
                    <list>
                        <null/>
                        <null/>
                    </list>
                </entry>
                <entry key="org.springframework.validation.BindException">
                    <list>
                        <null/>
                        <null/>
                    </list>
                </entry>
                <entry key="gov.nih.nci.cabig.ctms.suite.authorization.SuiteRoleMembership">
                    <list>
                        <null/>
                        <null/>
                        <null/>
                    </list>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="osgiLayerTools" class="edu.northwestern.bioinformatics.studycalendar.core.osgi.OsgiLayerTools" autowire="byName">
        <!-- The bundle context is not resolveable when in the core, so we rely on autowiring -->
        <property name="membrane" ref="membrane"/>
    </bean>

    <bean id="hostBeansInitializer" class="edu.northwestern.bioinformatics.studycalendar.core.osgi.HostBeansInitializer" autowire="byName">
        <!-- The bundle context is not resolveable when in the core, so we rely on autowiring -->
        <property name="membrane" ref="membrane"/>
        <property name="pscUserDetailsService" ref="pscUserService"/>
    </bean>
</beans>