<!--L
  Copyright Northwestern University.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/psc/LICENSE.txt for details.
L-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    >
    <bean id="buildInfo" class="gov.nih.nci.cabig.ctms.tools.BuildInfo">
        <property name="applicationName" value="Patient Study Calendar"/>
        <property name="versionNumber" value="@buildInfo.versionNumber@"/>
        <property name="username" value="@buildInfo.username@"/>
        <property name="hostname" value="@buildInfo.hostname@"/>
        <property name="timestamp" value="@buildInfo.timestamp@"/>
    </bean>

    <bean id="setupStatus" class="edu.northwestern.bioinformatics.studycalendar.core.setup.SetupStatus">
        <property name="pscUserService" ref="pscUserService"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="siteDao" ref="siteDao"/>
        <property name="sourceDao" ref="sourceDao"/>
    </bean>
</beans>