<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the DAOs
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >

    <!-- HIBERNATE CONFIGURATION -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire="byName">
        <property name="mappingLocations">
            <list>
                <value>classpath:edu/northwestern/bioinformatics/studycalendar/domain/hibernate/typedefs.hbm.xml</value>
                <value>classpath:edu/northwestern/bioinformatics/studycalendar/domain/hibernate/ScheduledActivitiesReportRow.hbm.xml</value>
            </list>
        </property>
        <property name="namingStrategy">
            <bean class="edu.northwestern.bioinformatics.studycalendar.domain.tools.hibernate.StudyCalendarNamingStrategy"/>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudySegment</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Duration</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Period</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Study</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudySecondaryIdentifier</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Activity</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ActivityType</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.PlannedActivity</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Site</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Source</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudySite</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Subject</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudySubjectAssignment</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.PlannedCalendar</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Epoch</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledCalendar</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledStudySegment</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledActivity</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledActivityState</value>
                <value>edu.northwestern.bioinformatics.studycalendar.configuration.PscConfigurationEntry</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.auditing.LoginAudit</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.AdverseEvent</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Notification</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.SpecificDateBlackout</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.WeekdayBlackout</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.RelativeRecurringBlackout</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Population</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.UserAction</value>

                <!-- Amendments & customizations -->
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.Amendment</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.Change</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.Add</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.Reorder</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.PropertyChange</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.Remove</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.Delta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.PlannedCalendarDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.EpochDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.StudySegmentDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.PeriodDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.PlannedActivityDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.PlannedActivityLabelDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.StudyDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.PopulationDelta</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.delta.AmendmentApproval</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.PlannedActivityLabel</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.BlackoutDate</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ActivityProperty</value>

                <value>edu.northwestern.bioinformatics.studycalendar.configuration.AuthenticationSystemConfigurationEntry</value>
                <value>edu.northwestern.bioinformatics.studycalendar.configuration.OsgiConfigurationProperty</value>

                <!-- TODO remove ctms common annotated class, once psc audit dao implements methods of ctms daos using jdbctemplate -->
                <value>gov.nih.nci.cabig.ctms.audit.domain.DataAuditEventValue</value>
                <value>gov.nih.nci.cabig.ctms.audit.domain.DataAuditEvent</value>
            </list>
        </property>

        <property name="entityInterceptor">
            <ref local="gridIdentifierInterceptor"/>
        </property>
        <property name="eventListeners">
            <map>
                <entry key="post-insert">
                   <list>
                        <ref local="auditEventListener"/>
                    </list>
                </entry>
                <entry key="post-delete">
                   <list>
                        <ref local="auditEventListener"/>
                    </list>
                </entry>
                <entry key="post-load">
                    <list>
                        <ref local="changeChildResolverListener" />
                        <ref local="assignmentManagerResolverListener"/>
                        <ref local="userActionUserResolverListener"/>
                    </list>
                </entry>
                <entry key="post-update">
                    <list>
                        <ref local="authorizationScopeUpdaterListener"/>
                        <ref local="auditEventListener"/>
                    </list>
                </entry>
                <entry key="pre-collection-update">
                    <list>
                        <ref local="auditEventListener"/>
                    </list>
                </entry>
                <entry key="post-collection-recreate">
                    <list>
                        <ref local="auditEventListener"/>
                    </list>
                </entry>
                <entry key="pre-collection-remove">
                    <list>
                        <ref local="auditEventListener"/>
                    </list>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="changeChildResolverListener" class="edu.northwestern.bioinformatics.studycalendar.dao.ChangeChildResolverListener">
        <property name="daoFinder" ref="daoFinder"/>
    </bean>

    <bean id="assignmentManagerResolverListener"
          class="edu.northwestern.bioinformatics.studycalendar.dao.AssignmentManagerResolverListener">
        <property name="csmUserCache" ref="csmUserCache"/>
    </bean>

    <bean id="userActionUserResolverListener"
          class="edu.northwestern.bioinformatics.studycalendar.dao.UserActionUserResolverListener">
        <property name="csmUserCache" ref="csmUserCache"/>
    </bean>

    <bean id="authorizationScopeUpdaterListener"
          class="edu.northwestern.bioinformatics.studycalendar.dao.AuthorizationScopeUpdaterListener">
        <property name="suiteCsmHelper" ref="suiteCsmHelper"/>
    </bean>

    <bean id="auditEventListener"
          class="edu.northwestern.bioinformatics.studycalendar.dao.auditing.AuditEventListener">
        <property name="auditEventDao" ref="auditEventDao"/>
        <property name="auditEventFactory" ref="auditEventFactory"/>
    </bean>

    <bean  id="gridIdentifierInterceptor" class="edu.northwestern.bioinformatics.studycalendar.dao.GridIdentifierInterceptor" autowire="byType"></bean>

    <bean id="gridIdentifierCreator" class="edu.northwestern.bioinformatics.studycalendar.dao.LocalGridIdentifierCreator" autowire="byName"/>

    <bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName">
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_AUTO</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" autowire="byName"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations"><value>true</value></property>
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate"><ref local="hibernateTemplate"/></property>
    </bean>

    <bean id="configuration" parent="daoTemplate"
          class="edu.northwestern.bioinformatics.studycalendar.configuration.Configuration"/>
    <bean id="storedAuthenticationSystemConfiguration" parent="daoTemplate"
          class="edu.northwestern.bioinformatics.studycalendar.configuration.StoredAuthenticationSystemConfiguration"/>
    <bean id="pscFelixPersistenceManager" parent="daoTemplate"
          class="edu.northwestern.bioinformatics.studycalendar.configuration.PscFelixPersistenceManager"/>

    <bean id="daoFinder" class="edu.northwestern.bioinformatics.studycalendar.dao.SpringDaoFinder"/>

    <!-- TODO remove ctmscommon data audit dao mappings once psc audit dao implements all methods -->
    <bean name="dataAuditRepository" parent="daoTemplate" class="gov.nih.nci.cabig.ctms.audit.dao.DataAuditRepository" />
    <bean id="auditHistoryRepository" class="gov.nih.nci.cabig.ctms.audit.dao.AuditHistoryRepository">
        <property name="auditHistoryDao">
            <bean parent="daoTemplate" class="gov.nih.nci.cabig.ctms.audit.dao.AuditHistoryDao" />
        </property>
    </bean>

    <tx:annotation-driven proxy-target-class="true"/>
    <bean id="daoTools" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.DaoTools" />
    <bean id="studyDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudyDao"/>
    <bean id="plannedCalendarDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PlannedCalendarDao"/>
    <bean id="epochDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.EpochDao"/>
    <bean id="studySegmentDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudySegmentDao"/>
    <bean id="activityDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ActivityDao"/>
    <bean id="plannedActivityDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PlannedActivityDao"/>
    <bean id="periodDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PeriodDao"/>

    <bean id="siteDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.SiteDao"/>
    <bean id="subjectDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.SubjectDao"/>
    <bean id="studySubjectAssignmentDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudySubjectAssignmentDao"/>
    <bean id="studySiteDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudySiteDao"/>

    <bean id="scheduledCalendarDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledCalendarDao"/>
    <bean id="scheduledStudySegmentDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledStudySegmentDao"/>
    <bean id="scheduledActivityDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledActivityDao"/>
    <bean id="scheduledActivityStateDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledActivityStateDao"/>
    <bean id="notificationDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.NotificationDao"/>
    <bean id="populationDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PopulationDao"/>

    <bean id="loginAuditDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.auditing.LoginAuditDao"/>

    <bean id="amendmentDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.delta.AmendmentDao"/>
    <bean id="deltaDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.delta.DeltaDao"/>
    <bean id="sourceDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.SourceDao"/>
    <bean id="changeDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.delta.ChangeDao"/>
    <bean id="scheduledActivitiesReportRowDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.reporting.ScheduledActivitiesReportRowDao"/>
    <bean id="plannedActivityLabelDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PlannedActivityLabelDao"/>
    <bean id="blackoutDateDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.BlackoutDateDao"/>
    <bean id="activityTypeDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ActivityTypeDao"/>
    <bean id="activityPropertyDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ActivityPropertyDao"/>
    <bean id="auditEventDao" class="edu.northwestern.bioinformatics.studycalendar.dao.auditing.AuditEventDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="userActionDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.UserActionDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
</beans>
