<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">-->

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        >

    <!-- Xml Serializers -->
    <bean id="notificationXmlSerializer" autowire="byName"
              class="edu.northwestern.bioinformatics.studycalendar.xml.writers.NotificationXmlSerializer"/>
    
    <bean id="studyXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudyXmlSerializer"/>
    <bean id="studySnapshotXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudySnapshotXmlSerializer"/>
    <bean id="studiesXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudiesXmlSerializer"/>
    <bean id="studySecondaryIdentifierXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudySecondaryIdentifierXmlSerializer"/>
    <bean id="amendmentXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.AmendmentXmlSerializer"/>
    <bean id="registrationXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.RegistrationXmlSerializer"/>
    <bean id="studySubjectAssignmentXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudySubjectAssignmentXmlSerializer"/>
    <bean id="amendmentApprovalXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.AmendmentApprovalXmlSerializer">
    </bean>
    <bean id="activitySourceXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ActivitySourceXmlSerializer"/>
    <bean id="studySiteXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudySiteXmlSerializer"/>
    <bean id="subjectXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.SubjectXmlSerializer"/>
    <bean id="siteXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.SiteXmlSerializer"/>
    <bean id="scheduledCalendarXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ScheduledCalendarXmlSerializer"/>
    <bean id="scheduledStudySegmentXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ScheduledStudySegmentXmlSerializer"/>
    <bean id="nextScheduledStudySegmentXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.NextScheduledStudySegmentXmlSerializer"/>
    <bean id="scheduledActivityXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ScheduledActivityXmlSerializer"/>
    <bean id="currentScheduledActivityStateXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.CurrentScheduledActivityStateXmlSerializer"/>
    <bean id="previousScheduledActivityStateXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PreviousScheduledActivityStateXmlSerializer"/>
    <bean id="userRoleMembershipsXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.UserRoleMembershipsXmlSerializer"/>
    <bean id="blackoutDateXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.BlackoutDateXmlSerializer"/>
    <!-- PlanTreeNode Serializers -->
    <bean id="plannedCalendarXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PlannedCalendarXmlSerializer"/>

    <bean id="populationXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PopulationXmlSerializer"/>

    <bean id="epochXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.EpochXmlSerializer"/>

    <bean id="studySegmentXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudySegmentXmlSerializer"/>

    <bean id="periodXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PeriodXmlSerializer"/>

    <bean id="plannedActivityXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PlannedActivityXmlSerializer"/>

  <bean id="activityReferenceXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ActivityReferenceXmlSerializer"/>

  <bean id="activityXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ActivityXmlSerializer"/>


    <bean id="activityPropertyXmlSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ActivityPropertyXmlSerializer"/>

    <bean id="labelXmlSerializer"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.LabelXmlSerializer"/>

    <!-- SourceSerializer is for CSV representation.Move to restlets.representation package for #692 -->
    <bean id="sourceSerializer" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.SourceSerializer">
        <property name="sourceDao" ref="sourceDao"/>
        <property name="sourceService" ref="sourceService"/>
    </bean>


    <!-- Delta Serialiers -->
    <bean id="plannedCalendarDeltaXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PlannedCalendarDeltaXmlSerializer"/>

    <bean id="epochDeltaXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.EpochDeltaXmlSerializer"/>

    <bean id="studySegmentDeltaXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudySegmentDeltaXmlSerializer"/>

    <bean id="periodDeltaXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PeriodDeltaXmlSerializer"/>

    <bean id="plannedActivityDeltaXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PlannedActivityDeltaXmlSerializer"/>

    <bean id="populationDeltaXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PopulationDeltaXmlSerializer"/>

    <bean id="studyDeltaXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudyDeltaXmlSerializer"/>    

    <!-- Change Serializers -->
    <bean id="addXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.AddXmlSerializer"/>

    <bean id="removeXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.RemoveXmlSerializer"/>

    <bean id="reorderXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ReorderXmlSerializer"/>

    <bean id="propertyChangeXmlSerializer" autowire="byName" scope="prototype"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PropertyChangeXmlSerializer"/>


    <!-- Xml Serializer Factories -->
    <bean id="deltaXmlSerializerFactory" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.DeltaXmlSerializerFactory"/>

    <bean id="changeXmlSerializerFactory" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.ChangeXmlSerializerFactory"/>

    <bean id="planTreeNodeXmlSerializerFactory" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.PlanTreeNodeXmlSerializerFactory"/>

    <!-- Xml Serializer Helpers -->
    <bean id="studyXmlSerializerHelper" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.xml.writers.StudyXmlSerializerHelper"/>

</beans>
