<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">-->

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        >

    <bean id="nowFactory" class="gov.nih.nci.cabig.ctms.lang.NowFactory"/>

    <bean id="subjectService"
          class="edu.northwestern.bioinformatics.studycalendar.service.SubjectService">
        <property name="amendmentService" ref="amendmentService"/>
        <property name="subjectDao" ref="subjectDao"/>
    </bean>
    <bean id="siteService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.SiteService"/>
    <bean id="templateService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.TemplateService"/>
    <bean id="templateDevelopmentService" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.service.TemplateDevelopmentService"/>
    <bean id="scheduleService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ScheduleService"/>
    <bean id="studyService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.StudyService"/>
    <bean id="amendmentService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.AmendmentService"/>
    <bean id="deltaService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.DeltaService"/>
    <bean id="mutatorFactory" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.delta.MutatorFactory"/>
    <bean id="studySiteService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.StudySiteService"/>
    <bean id="importActivitiesService" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.service.ImportActivitiesService">
        <property name="xmlSerializer" ref="activitySourceXmlSerializer"/>
        <property name="sourceDao" ref="sourceDao"/>
        <property name="sourceSerializer" ref="sourceSerializer"/>
    </bean>

    <bean id="populationService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.PopulationService"/>

    <bean id="templateImportService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.importer.TemplateImportService">
        <property name="localGridIdentifierCreator" ref="gridIdentifierCreator"/>
    </bean>

    <bean id="gridIdentifierResolver" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.importer.GridIdentifierResolver">
    </bean>

    <bean id="sourceService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.SourceService" >
    </bean>

    <bean id="reportService" class="edu.northwestern.bioinformatics.studycalendar.service.ReportService">
        <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
        <property name="pscUserService" ref="pscUserService"/>
        <property name="csmAuthorizationManager" ref="osgiCsmAuthorizationManager"/>
        <property name="scheduledActivitiesReportRowDao" ref="scheduledActivitiesReportRowDao"/>
    </bean>

     <bean id="registrationService"
          class="edu.northwestern.bioinformatics.studycalendar.service.RegistrationService">
         <property name="pscUserDetailsService" ref="pscUserService"/>
         <property name="subjectService" ref="subjectService"/>
         <property name="studySegmentDao" ref="studySegmentDao"/>
         <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
         <property name="configuration" ref="configuration"/>
    </bean>

    <bean id="userActionService"
          class="edu.northwestern.bioinformatics.studycalendar.service.UserActionService">
        <property name="auditEventDao" ref="auditEventDao"/>
        <property name="userActionDao" ref="userActionDao"/>
        <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
        <property name="daoFinder" ref="daoFinder"/>
        <property name="amendmentDao" ref="amendmentDao"/>
        <property name="populationDao" ref="populationDao"/>
    </bean>

    <bean id="auditEventFactory"
          class="edu.northwestern.bioinformatics.studycalendar.service.auditing.AuditEventFactory"/>

    <!-- the applicationContextPath property is set in the web module -->
    <bean id="workflowMessageFactory"
          class="edu.northwestern.bioinformatics.studycalendar.service.presenter.WorkflowMessageFactory"/>

    <bean id="workflowService"
          class="edu.northwestern.bioinformatics.studycalendar.service.WorkflowService">
        <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
        <property name="deltaService" ref="deltaService"/>
        <property name="workflowMessageFactory" ref="workflowMessageFactory"/>
        <property name="configuration" ref="configuration"/>
    </bean>

    <!--shceduling-->

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="scheduleNotificationJobDetail"/>
        <!-- run every morning at 6 AM -->
        <property name="cronExpression" value="0 0 6 * * ?"/>
    </bean>

    <bean id="scheduleNotificationJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="notificationService"/>
        <property name="targetMethod" value="addNotificationIfNothingIsScheduledForPatient"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="notificationService" class="edu.northwestern.bioinformatics.studycalendar.service.NotificationService">
        <property name="studySubjectAssignmentDao" ref="studySubjectAssignmentDao"/>
        <property name="numberOfDays">
            <value>14</value>
        </property>
        <property name="mailSender" ref="mailSender"/>
        <property name="mailMessageFactory" ref="mailMessageFactory"/>
    </bean>
    <bean id="activityService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ActivityService"/>

    <bean id="activityTypeService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ActivityTypeService"/>

    <bean id="plannedActivityLabelService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.LabelService"/>

    <!-- Services that bridge between the Acegi security code and the core logic -->

    <bean id="applicationSecurityManager" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.core.accesscontrol.ApplicationSecurityManager"/>

    <bean id="pscUserService"
        class="edu.northwestern.bioinformatics.studycalendar.service.PscUserService">
        <property name="csmAuthorizationManager" ref="osgiCsmAuthorizationManager"/>
        <property name="suiteRoleMembershipLoader" ref="suiteRoleMembershipLoader"/>
        <property name="csmHelper" ref="suiteCsmHelper"/>
        <property name="siteDao" ref="siteDao"/>
        <property name="studyDao" ref="studyDao"/>
        <property name="studySiteDao" ref="studySiteDao"/>
        <property name="studySubjectAssignmentDao" ref="studySubjectAssignmentDao"/>
    </bean>

    <!-- DATA PROVIDERS -->

    <bean id="siteConsumer"
          class="edu.northwestern.bioinformatics.studycalendar.service.dataproviders.SiteConsumer"
          autowire="byName"/>
    <!-- can't be called "studyConsumer" because of a conflict with one of the grid services -->
    <bean id="studyConsumerBean"
          class="edu.northwestern.bioinformatics.studycalendar.service.dataproviders.StudyConsumer"
          autowire="byName"/>
    <bean id="studySiteConsumer"
        class="edu.northwestern.bioinformatics.studycalendar.service.dataproviders.StudySiteConsumer"
        autowire="byName"/>
</beans>
