<?xml version="1.0" encoding="UTF-8"?>

<!--L
  Copyright Northwestern University.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/psc/LICENSE.txt for details.
L-->

<!--
    This applicationContext contains the definition of the default implementations
    of the public API services.
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >
    <bean id="plannedCalendarService" autowire="byType" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.api.impl.DefaultPlannedCalendarService"/>
    <bean id="scheduledCalendarService" autowire="byType" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.api.impl.DefaultScheduledCalendarService"/>
</beans>