<configuration>
    <contextName>PSC OSGi Plugin Layer</contextName>

    <!--
        Something in SLF4J's implementation of conditions does not work well with multiple
        condition-having logback.xmls in the same JVM.  To work around this, we use this
        include-based hack.
     -->
    <include url="${debug-include}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d [%thread] | %X{userName} | %X{userIpAddress} | %logger{36} %-5level: %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/studycalendar-plugins.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${catalina.home}/logs/studycalendar-plugins.%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %date{HH:mm:ss} | %X{userName} | %X{userIpAddress} | %-5level: %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="edu.northwestern.bioinformatics"><level value="trace"/></logger>
    <logger name="org.hibernate.type">             <level value="trace"/></logger>

    <logger name="edu.northwestern.bioinformatics.studycalendar.core.accesscontrol"><level value="debug"/></logger>
    <logger name="edu.northwestern.bioinformatics.studycalendar.utility.osgimosis"><level value="debug"/></logger>

    <logger name="org.apache.commons.digester"><level value="info"/></logger>
    <logger name="org.apache.catalina">        <level value="info"/></logger>
    <logger name="org.apache.jasper">          <level value="info"/></logger>

    <logger name="org.acegisecurity.intercept.web.PathBasedFilterInvocationDefinitionMap"><level value="info"/></logger>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory">  <level value="info"/></logger>
    <logger name="org.springframework.beans.factory.xml.BeanDefinitionParserDelegate">    <level value="info"/></logger>
    <logger name="org.springframework.osgi.extender.internal">                            <level value="info"/></logger>

    <logger name="org.apache.commons.httpclient"><level value="info"/></logger>
    <logger name="httpclient.wire">              <level value="info"/></logger>
</configuration>