target
*.ipr
*.iml
*.iws
api-report
*.log
tools/tomcat/context.xml
tools/tomcat/tomcat.properties
database/hsqldb
reports
web/src/main/webapp/WEB-INF/classes
web/src/main/webapp/WEB-INF/lib
tmp
out
.DS_Store
osgi/bnd-tmp
