<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
    >
    
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="csmAuthorizationManager"
          class="edu.northwestern.bioinformatics.studycalendar.test.restfulapi.DefaultCsmAuthorizationManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="databaseInitializer" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.test.restfulapi.RestfulApiTestInitializer">
        <property name="dataSource" ref="nonPooledDataSource"/>
    </bean>

    <bean id="configurationInitializer"
          class="edu.northwestern.bioinformatics.studycalendar.test.restfulapi.ConfigurationInitializer">
        <property name="yamlResource" value="file:@resources.target@/configuration.yml"/>
    </bean>

    <bean id="sitesInitializer"
          class="edu.northwestern.bioinformatics.studycalendar.test.restfulapi.SitesInitializer">
        <property name="yamlResource" value="file:@resources.target@/sites.yml"/>
        <property name="siteDao" ref="siteDao"/>
        <property name="siteService" ref="siteService"/>
    </bean>

    <bean id="usersInitializer"
          class="edu.northwestern.bioinformatics.studycalendar.test.restfulapi.UsersInitializer">
        <property name="yamlResource" value="file:@resources.target@/users.yml"/>
        <property name="csmAuthorizationManager" ref="csmAuthorizationManager"/>
        <property name="provisioningSessionFactory" ref="provisioningSessionFactory"/>
        <property name="suiteRoleMembershipLoader" ref="suiteRoleMembershipLoader"/>
    </bean>

    <bean id="sampleActivitySourceInitializer"
          class="edu.northwestern.bioinformatics.studycalendar.test.restfulapi.SampleActivitySourceInitializer">
        <property name="xmlResource" value="file:@resources.target@/activities.xml"/>
        <property name="importActivitiesService" ref="importActivitiesService"/>
    </bean>
</beans>