<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
        <property name="location"><value>/WEB-INF/special-views.xml</value></property>
    </bean>

    <bean id="irViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.InternalResourceView</value>
        </property>
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="interceptors">
            <list>
                <ref bean="loginCheckInterceptor"/>
                <ref bean="URLAccessCheckInterceptor"/>
            </list>
        </property>
    </bean>
    
    <bean id="loginCheckInterceptor" class="edu.northwestern.bioinformatics.studycalendar.utils.accesscontrol.LoginCheckInterceptor"/>

    <bean id="URLAccessCheckInterceptor" class="edu.northwestern.bioinformatics.studycalendar.utils.accesscontrol.URLAccessCheckInterceptor"/>
        
    <bean name="/studyList" id="studyListController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.StudyListController"/>

    <bean name="/template" id="displayTemplateController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.DisplayTemplateController"/>

    <bean name="/newStudy" id="newStudyController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewStudyController"/>

    <bean name="/viewArm" id="viewArmController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ViewArmController"/>

    <bean name="/newPeriod" id="newPeriodController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewPeriodController"/>

    <bean name="/newActivity" id="newActivityController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewActivityController"/>

    <bean name="/createParticipant" id="newParticipantController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewParticipantController"/>

    <bean name="/assignParticipant" id="assignParticipantController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.AssignParticipantController"/>

    <bean name="/calendarTemplate" id="displayCalendarTemplateController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.DisplayCalendarTemplateController"/>

    <bean name="/markComplete" id="MarkCompleteController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.MarkCompleteController"/>

    <bean name="/managePeriod" id="managePeriodController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ManagePeriodEventsController"/>
          
    <bean name="/assignParticipantCoordinator" id="ParticipantCoordinatorController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ParticipantCoordinatorController"/>

    <bean name="/schedule" id="displayScheduleController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.DisplayScheduleController"/>
    <bean name="/schedule/select" id="selectScheduledArmController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.SelectScheduledArmController"/>
    <bean name="/schedule/nextArm" id="ScheduleNextArmController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.ScheduleNextArmController"/>

    <bean name="/manageSites" id="manageSitesController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ManageSitesController"/>

    <bean name="/newSite" id="newSiteController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewSiteController"/>

    <bean name="/assignSite" id="assignSiteController"
          class="org.springframework.web.servlet.mvc.ParameterizableViewController">
      <property name="viewName"><value>assignSite</value></property>
    </bean>

    <bean name="/assignSiteCoordinator" id="assignSiteCoordinatorController" 
          class="org.springframework.web.servlet.mvc.ParameterizableViewController">
      <property name="viewName"><value>assignSiteCoordinator</value></property>
    </bean>

    <bean name="/assignParticipantCoordinatorsToSite" id="assignParticipantCoordinatorsToSiteController" 
          class="org.springframework.web.servlet.mvc.ParameterizableViewController">
      <property name="viewName"><value>assignParticipantCoordinatorsToSite</value></property>
    </bean>

    <bean name="/assignTemplatesToParticipantCoordinators" id="assignTemplatesToParticipantCoordinatorsController" 
          class="org.springframework.web.servlet.mvc.ParameterizableViewController">
      <property name="viewName"><value>assignTemplatesToParticipantCoordinators</value></property>
    </bean>
</beans>
