<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
        <property name="location"><value>/WEB-INF/special-views.xml</value></property>
    </bean>

    <bean id="irViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.InternalResourceView</value>
        </property>
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

    <bean id="urlResolver" class="edu.northwestern.bioinformatics.studycalendar.utils.spring.BeanNameControllerUrlResolver">
        <property name="servletName"><value>pages</value></property>
    </bean>

    <bean class="edu.northwestern.bioinformatics.studycalendar.utils.accesscontrol.ControllerProtectionElementCreator" lazy-init="true">
        <property name="studyCalendarAuthorizationManager"><ref bean="studyCalendarAuthorizationManager"/></property>
        <property name="urlResolver"><ref local="urlResolver"/></property>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" lazy-init="true">
        <property name="interceptors">
            <list>
                <ref bean="loginCheckInterceptor"/>
                <ref bean="URLAccessCheckInterceptor"/>
                <ref bean="breadcrumbInterceptor"/>
            </list>
        </property>
    </bean>
    
    <bean id="loginCheckInterceptor" class="edu.northwestern.bioinformatics.studycalendar.utils.accesscontrol.LoginCheckInterceptor"/>

    <bean id="URLAccessCheckInterceptor" lazy-init="true" autowire="byType" 
          class="edu.northwestern.bioinformatics.studycalendar.utils.accesscontrol.URLAccessCheckInterceptor"/>

    <bean id="breadcrumbInterceptor" autowire="byType"
        class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.BreadcrumbInterceptor"/>

    <bean id="breadcrumbCreator" autowire="byName" 
        class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.BreadcrumbCreator"/>

    <bean id="noCacheTemplate" abstract="true">
        <property name="cacheSeconds"><value>0</value></property>
    </bean>

    <bean name="/studyList" id="studyListController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.StudyListController"/>

    <bean name="/template" id="displayTemplateController" autowire="byName" parent="noCacheTemplate"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.DisplayTemplateController">
        <property name="crumb.parent"><ref local="studyListController"/></property>
    </bean>
    <bean name="/template/select" id="selectArmController"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.SelectArmController">
        <property name="parameterName"><value>arm</value></property>
        <property name="viewName"><value>template/ajax/selectArm</value></property>
        <property name="dao"><ref bean="armDao"/></property>
    </bean>
    <bean name="/template/rename" id="renameController" autowire="byName"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName"><value>renameCommand</value></property>
    </bean>
    <bean name="/template/addTo" id="addToController" autowire="byName"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName"><value>addToTemplateCommand</value></property>
    </bean>
    <bean name="/template/delete" id="deleteController" autowire="byName"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName"><value>deleteCommand</value></property>
    </bean>
    <bean name="/template/move" id="moveController" autowire="byName"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName"><value>moveCommand</value></property>
    </bean>
    <bean name="/template/edit.js" id="editJsController"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.ParameterizableViewController">
        <property name="viewName"><value>template/edit.js</value></property>
    </bean>

    <bean name="/newStudy" id="newStudyController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewStudyController"/>

    <bean name="/newPeriod" id="newPeriodController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewPeriodController">
        <property name="crumb.parent"><ref local="displayTemplateController"/></property>
    </bean>

    <bean name="/newActivity" id="newActivityController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewActivityController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>New Activity</value></property>
                <property name="parent"><ref local="studyListController"/></property>
            </bean>
        </property>
    </bean>

    <bean name="/createParticipant" id="newParticipantController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewParticipantController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>New Participant</value></property>
                <property name="parent"><ref local="studyListController"/></property>
            </bean>
        </property>
    </bean>

    <bean name="/assignParticipant" id="assignParticipantController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.AssignParticipantController">
        <property name="crumb.parent"><ref local="displayTemplateController"/></property>
    </bean>

    <bean name="/markComplete" id="MarkCompleteController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.MarkCompleteController">
        <property name="crumb.parent"><ref local="displayTemplateController"/></property>
    </bean>

    <bean name="/managePeriod" id="managePeriodController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ManagePeriodEventsController">
        <property name="crumb.parent"><ref local="displayTemplateController"/></property>
    </bean>
          
    <bean name="/assignParticipantCoordinator" id="participantCoordinatorController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.ParticipantCoordinatorController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>Assign Participant Coordinator</value></property>
                <property name="parent"><ref local="displayTemplateController"/></property>
            </bean>
        </property>
    </bean>
    <bean name="/assignParticipantCoordinator/selectSite" id="ParticipantCoordinatorsBySiteController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ParticipantCoordinatorsBySiteController"/>

    <bean name="/schedule" id="displayScheduleController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.DisplayScheduleController">
        <property name="crumb.parent"><ref local="displayTemplateController"/></property>
    </bean>
    <bean name="/schedule/select" id="selectScheduledArmController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ReturnSingleObjectController">
        <property name="parameterName"><value>arm</value></property>
        <property name="viewName"><value>schedule/ajax/selectScheduledArm</value></property>
        <property name="dao"><ref bean="scheduledArmDao"/></property>
    </bean>
    <bean name="/schedule/nextArm" id="scheduleNextArmController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.ScheduleNextArmController"/>

    <bean name="/scheduleEvent" id="scheduleEventController" autowire="byName"
        class="edu.northwestern.bioinformatics.studycalendar.web.schedule.ScheduleEventController">
        <property name="crumb.parent"><ref local="displayScheduleController"/></property>
    </bean>

    <bean name="/manageSites" id="manageSitesController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ManageSitesController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>Manage Sites</value></property>
                <property name="parent"><ref local="studyListController"/></property>
            </bean>
        </property>
    </bean>

    <bean name="/newSite" id="newSiteController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewSiteController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>New Site</value></property>
                <property name="parent"><ref local="manageSitesController"/></property>
            </bean>
        </property>
    </bean>

    <bean name="/assignSite" id="assignSiteController" autowire="byName"  lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.AssignSiteController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>Assign Site</value></property>
                <property name="parent"><ref local="displayTemplateController"/></property>
            </bean>
        </property>
    </bean>

    <bean name="/assignSiteCoordinator" id="assignSiteCoordinatorController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.AssignSiteCoordinatorController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>Assign Site Coordinator</value></property>
                <property name="parent"><ref local="studyListController"/></property>
            </bean>
        </property>
    </bean>
    
    <bean name="/sitesForAssignParticipantCoordinators" id="sitesForAssignParticipantCoordinatorsController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.SitesForAssignParticipantCoordinatorsController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>Assign Sites to Participant Coordinators</value></property>
                <property name="parent"><ref local="studyListController"/></property>
            </bean>
        </property>
    </bean>

    <bean name="/assignParticipantCoordinatorsToSite" id="assignParticipantCoordinatorsToSiteController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.AssignParticipantCoordinatorsToSiteController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>Assign Participant Coordinators to a Site</value></property>
                <property name="parent"><ref local="studyListController"/></property>
            </bean>
        </property>
    </bean>

    <bean name="/siteParticipantCoordinatorList" id="siteParticipantCoordinatorListController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.SiteParticipantCoordinatorListController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name"><value>Participant Coordinator List</value></property>
                <property name="parent"><ref local="studyListController"/></property>
            </bean>
        </property>
    </bean>
    
     <bean name="/assignTemplatesToOneParticipantCoordinator" id="assignTemplatesToOneParticipantCoordinatorController" autowire="byName" lazy-init="true"
           class="edu.northwestern.bioinformatics.studycalendar.web.AssignTemplatesToOneParticipantCoordinatorController">
         <property name="crumb">
             <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                 <property name="name"><value>Assign Studies to Participant Coordinator</value></property>
                 <property name="parent"><ref local="studyListController"/></property>
             </bean>
         </property>
    </bean>
</beans>
