<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="controllerTools" class="edu.northwestern.bioinformatics.studycalendar.web.ControllerTools"
          autowire="byType"/>

    <bean class="edu.northwestern.bioinformatics.studycalendar.tools.spring.ServletWebContextPathPostProcessor"/>

    <bean id="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
        <property name="location" value="/WEB-INF/special-views.xml"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="500000"/>
    </bean>

    <bean class="edu.northwestern.bioinformatics.studycalendar.web.accesscontrol.ControllerSecureUrlCreator"
          lazy-init="true" id="secureUrls">
        <property name="urlResolver">
            <ref local="urlResolver"/>
        </property>
        <property name="osgiLayerTools" ref="osgiLayerTools"/>
        <property name="controllerRequiredAuthorityExtractor"
                  ref="controllerRequiredAuthorityExtractor"/>
        <property name="legacyModeSwitch" ref="authorizationLegacyModeSwitch"/>
    </bean>

    <bean class="edu.northwestern.bioinformatics.studycalendar.web.accesscontrol.ControllerRequiredAuthorityExtractor"
          id="controllerRequiredAuthorityExtractor">
        <property name="legacyModeSwitch" ref="authorizationLegacyModeSwitch"/>
    </bean>

    <bean class="edu.northwestern.bioinformatics.studycalendar.web.tools.PscAuthorizationInterceptor"
        id="authorizationInterceptor">
        <property name="legacyModeSwitch" ref="authorizationLegacyModeSwitch"/>
        <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
    </bean>

    <bean id="irViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.InternalResourceView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="urlResolver" class="gov.nih.nci.cabig.ctms.tools.spring.BeanNameControllerUrlResolver">
        <property name="servletName" value="pages"/>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" lazy-init="true">
        <property name="interceptors">
            <list>
                <ref bean="authorizationInterceptor"/>
                <ref bean="breadcrumbInterceptor"/>
                <ref bean="sectionInterceptor"/>
            </list>
        </property>
    </bean>

    <bean id="breadcrumbInterceptor" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.BreadcrumbInterceptor"/>

    <bean id="breadcrumbCreator" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.BreadcrumbCreator"/>

    <bean id="noCacheTemplate" abstract="true">
        <property name="cacheSeconds" value="0"/>
    </bean>

    <bean name="/cal/studyList" id="studyListController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.StudyListController"/>

    <bean name="/cal/template" id="displayTemplateController" autowire="byName" parent="noCacheTemplate"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.DisplayTemplateController">
        <property name="studyConsumer" ref="studyConsumerBean"/>
        <property name="crumb.parent">
            <ref local="studyListController"/>
        </property>
    </bean>

    <bean name="/cal/template/select" id="selectStudySegmentController" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.SelectStudySegmentController"/>

    <bean name="/cal/setCycleLength" id="cycleController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.CycleController"/>

    <bean name="/cal/template/selectInDevelopmentAndReleasedStudy" id="selectInDevelopmentStudyController"
          autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.SelectStudyController"/>

    <bean name="/cal/template/rename" id="renameController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName" value="renameCommand"/>
    </bean>
    <bean name="/cal/template/addTo" id="addToController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName" value="addToTemplateCommand"/>
    </bean>

    <bean name="/cal/template/delete" id="deleteController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName" value="deleteCommand"/>
    </bean>
    <bean name="/cal/template/move" id="moveController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.EditController">
        <property name="commandBeanName" value="moveCommand"/>
    </bean>

    <bean name="/cal/template/preview" id="schedulePreviewController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.SchedulePreviewController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/template/import" id="importTemplateXmlController" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ImportTemplateXmlController"/>

    <bean name="/cal/managePeriodActivities" id="managePeriodActivitiesController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.period.ManagePeriodActivitiesController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/template/edit.js" id="editJsController"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ParameterizableViewController">
        <property name="viewName" value="template/edit.js"/>
    </bean>

    <bean name="/cal/newStudy" id="newStudyController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewStudyController"/>
    <bean name="/cal/copyStudy" id="copyStudyController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.CopyStudyController"/>

    <bean name="/subject" id="subjectCentricScheduleController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.subject.SubjectCentricScheduleController">
    </bean>

    <bean name="/activities" id="activityController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.ActivityController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Activities"/>
            </bean>
        </property>
    </bean>

    <bean name="/activities/addSource" id="addSourceController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.AddSourceController">
    </bean>

    <bean name="/activities/getActivityBySource" id="sourceControllerGetActivities" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.ActivityController">
    </bean>

    <bean name="/activities/saveActivity" id="sourceControllerSave" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.EditActivityController">
    </bean>

    <bean name="/activities/deleteActivity" id="sourceControllerDelete" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.DeleteController">
    </bean>

    <bean name="/activities/importActivities" id="importActivitiesController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ImportActivitiesController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Import activities"/>
                <property name="parent">
                    <ref local="activityController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/activities/display/*" id="exportActivitiesXmlController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ExportActivitiesController"/>

    <bean name="/activities/addNewActivity" id="addNewActivityController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.AddActivityController">
    </bean>

    <bean name="/activities/addEditActivityType" id="addEditActivityTypeController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.AddEditActivityTypeController">
    </bean>

    <bean name="/activities/saveActivityType" id="activityTypeControllerSave" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.AddEditActivityTypeController">
    </bean>

    <bean name="/activities/addNewActivityType" id="activityTypeControllerAdd" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.AddEditActivityTypeController">
    </bean>

    <bean name="/activities/deleteActivityType" id="activityTypeControllerDelete" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.AddEditActivityTypeController">
    </bean>

    <bean name="/advancedEditActivity" id="advancedEditActivityController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.activity.AdvancedEditActivityController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Advanced Edit Activity"/>
                <property name="parent">
                    <ref local="activityController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/dashboard" id="dashboardController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.RedirectToDashboardController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Dashboards"/>
            </bean>
        </property>
    </bean>

    <bean name="/dashboard/subjectCoordinatorSchedule" id="dashboardSubjectCoordinatorController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.subjectcoordinator.ScheduleController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Subject coordinator"/>
                <property name="parent">
                    <ref local="dashboardController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/dashboard/subjectCoordinatorSchedule/dismissNotification"
          id="dashboardSubjectCoordinatorControllerDismissNotification" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.subjectcoordinator.ScheduleController">
    </bean>

    <bean name="/dashboard/colleagueSubjectCoordinator" id="colleagueSubjectCoordinatorController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.subjectcoordinator.ColleagueSubjectCoordinatorController">
        <property name="crumb.parent">
            <ref local="dashboardSubjectCoordinatorController"/>
        </property>
    </bean>

    <bean name="/dashboard/studyCoordinator" id="dashboardStudyCoordinatorController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.StudyCoordinatorDashboardController"/>

    <bean name="/dashboard/studyAdmin" id="dashboardStudyAdminController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.StudyAdministratorDashboardController"/>

    <bean name="/cal/template/externalStudy" id="externalStudyController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ExternalStudyController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/dashboard/systemAdmin" id="dashboardSystemAdminController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.SystemAdministratorDashboardController"/>

    <bean name="/dashboard/siteCoordinator" id="dashboardSiteCoordinatorController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.sitecoordinator.SiteCoordinatorController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Site coordinator"/>
                <property name="parent" ref="dashboardController"/>
            </bean>
        </property>
    </bean>

    <bean name="/dashboard/siteCoordinator/assignSubjectCoordinatorByStudy"
          id="dashboardSiteCoordinatorControllerByStudy" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.sitecoordinator.AssignSubjectCoordinatorByStudyController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Assign study to subject coordinators"/>
                <property name="parent" ref="dashboardSiteCoordinatorController"/>
            </bean>
        </property>
    </bean>

    <bean name="/dashboard/siteCoordinator/assignSubjectCoordinatorByUser" id="dashboardSiteCoordinatorControllerByUser"
          autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.sitecoordinator.AssignSubjectCoordinatorByUserController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Assign subject coordinator to studies"/>
                <property name="parent" ref="dashboardSiteCoordinatorController"/>
            </bean>
        </property>
    </bean>

    <bean name="/dashboard/siteCoordinator/assignSubjectToSubjectCoordinatorByUser"
          id="dashboardSiteCoordinatorControllerReassignSubjects" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.dashboard.sitecoordinator.AssignSubjectToSubjectCoordinatorByUserController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Change ownership of subject schedules"/>
                <property name="parent" ref="dashboardSiteCoordinatorController"/>
            </bean>
        </property>
    </bean>

    <bean name="/cal/newPeriod" id="newPeriodController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewPeriodController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/editPeriod" id="editPeriodController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.EditPeriodController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/deletePeriod" id="deletePeriodController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.DeletePeriodController">
    </bean>

    <bean name="/cal/template/deleteDevelopmentAmendment" id="deleteStudyController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.DeleteDevelopmentAmendmentController">
        <property name="crumb.parent">
            <ref local="studyListController"/>
        </property>
    </bean>

    <bean name="/newActivity" id="newActivityController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.NewActivityController">
        <property name="crumb.parent"><ref local="managePeriodActivitiesController"/></property>
    </bean>

    <bean name="/cal/createSubject" id="newSubjectController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewSubjectController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="New Subject"/>
                <property name="parent">
                    <ref local="studyListController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/cal/assignSubject" id="assignSubjectController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.AssignSubjectController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/template/release" id="releaseAmendmentController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.ReleaseAmendmentController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/template/approve" id="approveAmendmentController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.delta.ApproveAmendmentsController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/template/amendments" id="viewAmendmentsController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.delta.ViewAmendmentsController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>

    <bean name="/cal/template/population" id="editPopulationController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.EditPopulationController">
        <property name="crumb.parent">
            <ref local="displayTemplateController"/>
        </property>
    </bean>
    <bean name="/cal/template/population/suggest" id="suggestPopulationAbbreviationController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.SuggestPopulationAbbreviationController"/>

    <bean name="/cal/schedule" id="displayScheduleController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.DisplayScheduleController">
    </bean>

    <bean name="/cal/schedule/select" id="selectScheduledStudySegmentController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ReturnSingleObjectController">
        <property name="parameterName" value="studySegment"/>
        <property name="viewName" value="schedule/ajax/selectScheduledStudySegment"/>
        <property name="dao" ref="scheduledStudySegmentDao"/>
    </bean>
    <bean name="/cal/schedule/batch" id="batchRescheduleController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.BatchRescheduleController"/>

    <bean name="/cal/schedule/amend" id="changeAmendmentController" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.ChangeAmendmentController">
        <property name="crumb.parent">
            <ref local="subjectCentricScheduleController"/>
        </property>
    </bean>

    <bean name="/cal/schedule/populations" id="changePopulationsController" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.ChangePopulationsController">
        <property name="crumb.parent">
            <ref local="subjectCentricScheduleController"/>
        </property>
    </bean>


    <bean name="/cal/scheduleActivity" id="scheduleActivityController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.ScheduleActivityController">
        <property name="crumb.parent">
            <ref local="subjectCentricScheduleController"/>
        </property>
    </bean>

    <bean name="/cal/assignSite" id="assignSiteController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.AssignSiteController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Assign Site"/>
                <property name="parent">
                    <ref local="displayTemplateController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/cal/template/associateSite" id="associateSiteController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.AssociateSiteController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Associate Site"/>
                <property name="parent">
                    <ref local="displayTemplateController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/report/scheduledActivitiesReport" id="scheduledActivitiesReportController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.reporting.ScheduledActivitiesReportController"/>

    <bean name="/cal/scheduleReconsent" id="scheduleReconsent" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.schedule.ScheduleReconsentController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Schedule Reconsent"/>
                <property name="parent">
                    <ref local="studyListController"/>
                </property>
            </bean>
        </property>
    </bean>


    <bean name="/cal/amendment" id="amendmentLoginController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.delta.CreateAmendmentController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Amendment"/>
                <property name="parent">
                    <ref local="studyListController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/admin" id="administrationController" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.web.AdministrationController">
        <property name="viewName" value="administration"/>
    </bean>

    <bean name="/admin/configure" id="configurationController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.admin.ConfigurationController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Configuration"/>
                <property name="parent">
                    <ref local="administrationController"/>
                </property>
            </bean>
        </property>
    </bean>
    <bean name="/admin/diagnostics" id="diagnosticsController" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.admin.DiagnosticsController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name">
                    <value>Grid Services Configuration</value>
                </property>
                <property name="parent">
                    <ref local="administrationController"/>
                </property>
            </bean>
        </property>
        <property name="mailSender" ref="mailSender"/>
        <property name="configuration" ref="configuration"/>
    </bean>
    <bean name="/admin/configureAuthentication" id="authConfigurationController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.admin.AuthenticationSystemSelectorController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Authentication configuration"/>
                <property name="parent">
                    <ref local="administrationController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/admin/manage/createUser" id="createUserController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.CreateUserController">
        <property name="crumb.parent">
            <ref local="listUsersController"/>
        </property>
    </bean>
    <bean name="/admin/manage/editUser" id="editUserController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.CreateUserController">
        <property name="crumb.parent">
            <ref local="listUsersController"/>
        </property>
    </bean>

    <bean name="/admin/manage/oneUser" id="administerUserController"
          class="edu.northwestern.bioinformatics.studycalendar.web.admin.AdministerUserController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Administer one user"/>
                <property name="parent">
                    <ref local="listUsersController"/>
                </property>
            </bean>
        </property>
        <property name="authorizationManager" ref="csmAuthorizationManager"/>
        <property name="provisioningSessionFactory" ref="provisioningSessionFactory"/>
        <property name="siteDao" ref="siteDao"/>
        <property name="suiteRoleMembershipLoader" ref="suiteRoleMembershipLoader"/>
        <property name="controllerTools" ref="controllerTools"/>
    </bean>

    <bean name="/admin/manage/listUsers" id="listUsersController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.ListUsersController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="List Users"/>
                <property name="parent">
                    <ref local="administrationController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/admin/manage/sites" id="manageSitesController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.ManageSitesController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Manage sites"/>
                <property name="parent">
                    <ref local="administrationController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/admin/manage/newSite" id="newSiteController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewSiteController">
        <property name="crumb.parent">
            <ref local="manageSitesController"/>
        </property>
    </bean>

    <bean name="/admin/manage/editSite" id="editSiteController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewSiteController">
        <property name="crumb.parent">
            <ref local="manageSitesController"/>
        </property>
    </bean>

    <bean name="/admin/manage/newProvidedSite" id="newProvidedSiteController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.NewProvidedSiteController">
    </bean>

    <bean name="/admin/manage/blackoutDates" id="holidaysController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.BlackoutDatesController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Manage Holidays"/>
                <property name="parent">
                    <ref local="manageSitesController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/admin/manage/sources" id="manageSourcesController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.ManageSourcesController">
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Manage sources"/>
                <property name="parent">
                    <ref local="administrationController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/admin/manage/plugins" id="pluginsListController"
          class="edu.northwestern.bioinformatics.studycalendar.web.admin.ParameterizableViewController">
        <property name="viewName" value="admin/plugins"/>
        <property name="crumb">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.breadcrumbs.DefaultCrumb">
                <property name="name" value="Manage Plugins"/>
                <property name="parent">
                    <ref local="administrationController"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="/admin/manage/purgeStudy" id="purgeStudyController" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.web.admin.PurgeStudyController">
    </bean>


    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean name="/cal/takeSubjectOffStudy" id="subjectOffStudyController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.SubjectOffStudyController">
        <property name="crumb.parent">
            <ref local="subjectCentricScheduleController"/>
        </property>
    </bean>

    <!--<bean name="/cal/import/activities" id="importActivitiesController" autowire="byName"-->
    <!--class="edu.northwestern.bioinformatics.studycalendar.web.template.ImportActivitiesController">-->
    <!--<property name="crumb.parent"><ref local="managePeriodController"/></property>-->

    <!--</bean>-->

    <bean name="/search/fragment/activities" id="searchActivitiesController" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.SearchActivitiesController"/>

    <bean name="/cal/search/fragment/inDevelopmentAndReleasedTemplates" id="searchTemplatesControllers"
          autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.web.template.SearchTemplatesController"/>

    <bean name="/ping" id="pingController" class="edu.northwestern.bioinformatics.studycalendar.web.PingController"/>

    <bean id="sectionTemplate" class="gov.nih.nci.cabig.ctms.web.chrome.Section"
          abstract="true">
        <property name="urlResolver" ref="urlResolver"/>
    </bean>

    <bean id="sectionInterceptor" class="edu.northwestern.bioinformatics.studycalendar.web.tools.SecureSectionInterceptor">
        <property name="controllerRequiredAuthorityExtractor" ref="controllerRequiredAuthorityExtractor"/>
        <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
        <property name="sections">
            <list>
                <bean parent="sectionTemplate">
                    <property name="displayName" value="Dashboard"/>
                    <property name="mainController" value="dashboardController"/>
                    <property name="pathMapping" value="/dashboard/**"/>
                    <property name="tasks">
                        <list>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Subject Coordinator"/>
                                <property name="linkName"
                                          value="dashboardSubjectCoordinatorController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Study Coordinator"/>
                                <property name="linkName"
                                          value="dashboardStudyCoordinatorController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Site Coordinator"/>
                                <property name="linkName"
                                          value="dashboardSiteCoordinatorController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Study Admin"/>
                                <property name="linkName" value="dashboardStudyAdminController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="System Admin"/>
                                <property name="linkName" value="dashboardSystemAdminController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                        </list>
                    </property>
                </bean>

                <bean parent="sectionTemplate">
                    <property name="displayName" value="Calendars"/>
                    <property name="mainController" value="studyListController"/>
                    <property name="pathMapping" value="/cal/**"/>
                    <property name="tasks">
                        <list>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Existing templates"/>
                                <property name="linkName" value="studyListController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="New template"/>
                                <property name="linkName" value="newStudyController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                        </list>
                    </property>
                </bean>

                <bean parent="sectionTemplate">
                    <property name="displayName" value="Activities"/>
                    <property name="mainController" value="activityController"/>
                    <property name="pathMapping" value="/activities/**"/>
                    <property name="tasks">
                        <list>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Activities"/>
                                <property name="linkName" value="activityController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Activity Types"/>
                                <property name="linkName" value="addEditActivityTypeController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean parent="sectionTemplate">
                    <property name="displayName" value="Administration"/>
                    <property name="mainController" value="administrationController"/>
                    <property name="pathMapping" value="/admin/**"/>
                    <property name="tasks">
                        <list>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Manage sites"/>
                                <property name="linkName" value="manageSitesController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Manage users"/>
                                <property name="linkName" value="listUsersController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Set manual activity source"/>
                                <property name="linkName" value="manageSourcesController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Configure PSC"/>
                                <property name="linkName" value="configurationController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Configure authentication"/>
                                <property name="linkName" value="authConfigurationController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Manage plugins"/>
                                <property name="linkName" value="pluginsListController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Grid services configuration"/>
                                <property name="linkName" value="diagnosticsController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Purge study"/>
                                <property name="linkName" value="purgeStudyController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean parent="sectionTemplate">
                    <property name="displayName" value="Report"/>
                    <property name="mainController" value="scheduledActivitiesReportController"/>
                    <property name="pathMapping" value="/report/**"/>
                    <property name="tasks">
                        <list>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task">
                                <property name="displayName" value="Scheduled Activities Report"/>
                                <property name="linkName"
                                          value="scheduledActivitiesReportController"/>
                                <property name="urlResolver" ref="urlResolver"/>
                            </bean>
                        </list>
                    </property>
                </bean>
            </list>

        </property>
    </bean>
</beans>
