<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <bean id="filterChainProxy"
          class="org.acegisecurity.util.FilterChainProxy">
        <property name="filterInvocationDefinitionSource">

            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
                /**=httpSessionContextIntegrationFilter,${authenticationMode}LogoutFilter,${authenticationMode}AuthenticationProcessingFilter,securityContextHolderAwareRequestFilter,exceptionTranslationFilter,filterInvocationInterceptor
            </value>

        </property>
    </bean>

    <bean id="httpSessionContextIntegrationFilter"
          class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"/>

    <bean id="localLogoutFilter"
          class="org.acegisecurity.ui.logout.LogoutFilter">
        <constructor-arg value="/public/login"/>
        <!-- URL redirected to after logout -->
        <constructor-arg>
            <list>
                <bean
                        class="org.acegisecurity.ui.logout.SecurityContextLogoutHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="webSSOLogoutFilter"
          class="org.acegisecurity.ui.logout.LogoutFilter">
        <constructor-arg value="${webSSO.server.baseUrl}/logout"/>
        <!-- URL redirected to after logout -->
        <constructor-arg>
            <list>
                <bean
                        class="org.acegisecurity.ui.logout.SecurityContextLogoutHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="localAuthenticationProcessingFilter"
          class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">
        <property name="authenticationManager"
                  ref="authenticationManager"/>
        <property name="authenticationFailureUrl" value="/public/login?login_error=1"/>
        <property name="defaultTargetUrl" value="/pages/dashboard"/>
        <property name="filterProcessesUrl"
                  value="/j_acegi_security_check"/>
    </bean>

    <bean id="authenticationManager"
          class="org.acegisecurity.providers.ProviderManager">
        <property name="providers">
            <list>
                <ref bean="${authenticationMode}AuthenticationProvider"/>
                <!--TODO: add this <ref local="gridAuthenticationProvider" />-->
                <!--TODO: add this? <ref local="globusCredentialAuthenticationProvider" />-->
                <bean
                        class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
                    <property name="key" value="anonymousAuthKey"/>
                </bean>
            </list>
        </property>

    </bean>

    <bean id="localAuthenticationProvider"
          class="gov.nih.nci.security.acegi.csm.authentication.CSMAuthenticationProvider">

        <property name="csmAuthenticationManager">
            <bean class="gov.nih.nci.security.SecurityServiceProvider"
                  factory-method="getAuthenticationManager">
                <constructor-arg ref="csmContextName"/>
            </bean>
        </property>

        <property name="userDetailsService" ref="pscUserDetailsService"/>

        <property name="userCache" ref="userCache"/>
    </bean>

    <bean id="pscUserDetailsService"
          class="edu.northwestern.bioinformatics.studycalendar.security.PscUserDetailsService">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="userCache"
          class="org.acegisecurity.providers.dao.cache.EhCacheBasedUserCache">
        <property name="cache">
            <bean
                    class="org.springframework.cache.ehcache.EhCacheFactoryBean">
                <property name="cacheManager">
                    <bean
                            class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>
                </property>
                <property name="cacheName" value="userCache"/>

            </bean>
        </property>
    </bean>

    <bean id="localAuthenticationProcessingFilterEntryPoint"
          class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
        <property name="loginFormUrl" value="/public/login"/>
        <property name="forceHttps" value="false"/>
    </bean>

    <bean id="securityContextHolderAwareRequestFilter"
          class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter"/>

    <bean id="anonymousProcessingFilter"
          class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
        <property name="key" value="anonymousAuthKey"/>
        <property name="userAttribute"
                  value="anonymousUser,ROLE_ANONYMOUS"/>
    </bean>


    <bean id="exceptionTranslationFilter"
          class="org.acegisecurity.ui.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint"
                  ref="${authenticationMode}AuthenticationProcessingFilterEntryPoint"/>
    </bean>

    <bean id="filterInvocationInterceptor"
          class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
        <property name="authenticationManager"
                  ref="authenticationManager"/>
        <property name="accessDecisionManager">
            <ref local="accessDecisionManager"/>
        </property>
        <property name="objectDefinitionSource">
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT

            </value>

        </property>
    </bean>

    <bean id="accessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
        <property name="decisionVoters">
            <list>
                <bean class="gov.nih.nci.security.acegi.csm.vote.AuthorizationSwitchVoter">
                    <property name="authorizationSwitch"
                              ref="authorizationSwitch"/>
                </bean>
                <bean class="org.acegisecurity.vote.RoleVoter">
                    <property name="rolePrefix">
                        <value></value>
                    </property>
                </bean>
            </list>
        </property>
    </bean>


    <!--websso config-->
    <!--webSSO config-->

    <bean id="webSSOAuthenticationProcessingFilter" class="org.acegisecurity.ui.cas.CasProcessingFilter">
        <property name="authenticationManager">
            <ref bean="authenticationManager"/>
        </property>
        <property name="authenticationFailureUrl">
            <value>/decorated-error.jsp</value>
        </property>
        <property name="defaultTargetUrl">
            <value>/</value>
        </property>
        <property name="filterProcessesUrl">
            <value>/j_acegi_cas_security_check</value>
        </property>
    </bean>

    <bean id="webSSOAuthenticationProcessingFilterEntryPoint"
          class="org.acegisecurity.ui.cas.CasProcessingFilterEntryPoint">
        <property name="loginUrl" value="${webSSO.server.baseUrl}"/>
        <property name="serviceProperties">
            <ref bean="serviceProperties"/>
        </property>
    </bean>

    <bean id="webSSOAuthenticationProvider" class="org.acegisecurity.providers.cas.CasAuthenticationProvider">
        <property name="casAuthoritiesPopulator">
            <ref local="casAuthoritiesPopulator"/>
        </property>
        <property name="casProxyDecider">
            <ref local="casProxyDecider"/>
        </property>
        <property name="ticketValidator">
            <ref local="casProxyTicketValidator"/>
        </property>
        <property name="statelessTicketCache">
            <ref local="statelessTicketCache"/>
        </property>
        <property name="key">
            <value>my_password_for_this_auth_provider_only</value>
        </property>
    </bean>

    <bean id="casProxyTicketValidator" class="org.acegisecurity.providers.cas.ticketvalidator.CasProxyTicketValidator">
        <property name="casValidate" value="${webSSO.server.baseUrl}/proxyValidate"/>
        <property name="serviceProperties">
            <ref local="serviceProperties"/>
        </property>
        <property name="trustStore" value="${webSSO.server.trustCert}"/>
    </bean>

    <bean id="serviceProperties" class="org.acegisecurity.ui.cas.ServiceProperties">
        <property name="service" value="${webSSO.cas.acegi.security.url}"></property>
        <property name="sendRenew">
            <value>false</value>
        </property>
    </bean>

    <bean id="casAuthoritiesPopulator"
          class="edu.northwestern.bioinformatics.studycalendar.security.WebSSOAuthoritiesPopulator">
        <property name="userDetailsService">
            <ref local="pscUserDetailsService"/>
        </property>
    </bean>

    <bean id="casProxyDecider" class="org.acegisecurity.providers.cas.proxy.RejectProxyTickets">
    </bean>

    <bean id="statelessTicketCache" class="org.acegisecurity.providers.cas.cache.EhCacheBasedTicketCache">
        <property name="cache">
            <ref local="ticketCacheBackend"/>
        </property>
    </bean>

    <bean id="ticketCacheBackend" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager">
            <ref local="cacheManager"/>
        </property>
        <property name="cacheName">
            <value>ticketCache</value>
        </property>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>


</beans>