<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >

    <tx:annotation-driven/>

    <bean id="subjectService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.SubjectService"/>
    <bean id="siteService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.SiteService"/>
    <bean id="templateService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.TemplateService"/>
    <bean id="scheduleService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.ScheduleService"/>
    <bean id="userService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.UserService"/>
    <bean id="studyService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.StudyService"/>
    <bean id="amendmentService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.AmendmentService"/>
    <bean id="deltaService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.DeltaService"/>
    <bean id="mutatorFactory" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.delta.MutatorFactory"/>
    <bean id="subjectCoordinatorDashboardService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.SubjectCoordinatorDashboardService"/>
    <bean id="userRoleService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.UserRoleService"/>
    <bean id="studySiteService" autowire="byName" lazy-init="true"
          class="edu.northwestern.bioinformatics.studycalendar.service.StudySiteService"/>
</beans>