<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">-->

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        >

    <bean id="nowFactory" class="gov.nih.nci.cabig.ctms.lang.NowFactory"/>

    <bean id="subjectService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.SubjectService"/>
    <bean id="siteService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.SiteService"/>
    <bean id="templateService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.TemplateService"/>
    <bean id="templateDevelopmentService" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.service.TemplateDevelopmentService"/>
    <bean id="scheduleService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ScheduleService"/>
    <bean id="userService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.UserService"/>
    <bean id="studyService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.StudyService"/>
    <bean id="amendmentService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.AmendmentService"/>
    <bean id="deltaService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.DeltaService"/>
    <bean id="mutatorFactory" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.delta.MutatorFactory"/>
    <bean id="subjectCoordinatorDashboardService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.SubjectCoordinatorDashboardService"/>
    <bean id="userRoleService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.UserRoleService"/>
    <bean id="studySiteService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.StudySiteService"/>
    <bean id="authorizationService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.AuthorizationService"/>
    <bean id="importActivitiesService" autowire="byType"
          class="edu.northwestern.bioinformatics.studycalendar.service.ImportActivitiesService">
        <property name="xmlSerializer" ref="activitySourceXmlSerializer"/>
        <property name="sourceDao" ref="sourceDao"/>
        <property name="sourceSerializer" ref="sourceSerializer"/>
    </bean>

    <bean id="populationService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.PopulationService"/>
    <bean id="importTemplateService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ImportTemplateService">
    </bean>
    <bean id="sourceService" class="edu.northwestern.bioinformatics.studycalendar.service.SourceService">
        <property name="sourceDao" ref="sourceDao"></property>
        <property name="activityService" ref="activityService"/>
    </bean>

    <!--shceduling-->

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="scheduleNotificationJobDetail"/>
        <!-- run every morning at 6 AM -->
        <property name="cronExpression" value="0 0 6 * * ?"/>
    </bean>

    <bean id="scheduleNotificationJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="notificationService"/>
        <property name="targetMethod" value="addNotificationIfNothingIsScheduledForPatient"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="notificationService" class="edu.northwestern.bioinformatics.studycalendar.service.NotificationService">
        <property name="studySubjectAssignmentDao" ref="studySubjectAssignmentDao"/>
        <property name="numberOfDays">
            <value>14</value>
        </property>
        <property name="mailSender" ref="mailSender"/>
        <property name="mailMessageFactory" ref="mailMessageFactory"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="activityService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ActivityService"/>

    <bean id="activityTypeService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ActivityTypeService"/>

    <bean id="plannedActivityLabelService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.LabelService"/>
</beans>