body {
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}

#footmenu {
    margin-top: 2em;
    padding: 0.5em;
    border-top: 1px solid #666;
    text-align: right;
}

/****** SPECIAL TYPES */

/*
    'row' is a class for label: value type rows.  The intent is
    that eash row would contain 2-3 subdivs:  a label (float: left), an optional extra
    (float: right), and the value (positioned naturally).  Pages which use these styles
    should also set the width of div.label.
 */
div.row {
    font-size: 10pt;
    padding: 3px 2px 2px 2px;
    margin-top: 1px;
}
/* Automatically clear after each row
   Based on http://www.positioniseverything.net/easyclearing.html */
div.row:after, div.autoclear:after {
    display: block ;
    content: ' ';
    clear: both ;
    height: 0 ;
    visibility: hidden ;
}
/* IE only */
* html div.row, * html div.autoclear { height: 1% }
div.row div.label { font-weight: bold; float: left; margin-left: 0.5em }
div.row div.value { font-weight: normal; }

/***** STYLES FOR CALENDAR STRUCTURE COMPONENTS */
.epochs-and-arms {
    position: relative;
}
.epoch {
    float: left;
    height: 100%;
    border: 1px solid #666;
    border-right-width: 0;
}
.epoch.last {
    border-right-width: 1px;
}
.epoch h4 {
    margin: 0;
    padding: 4px;
    color: #666;
    background-color: white;
}
.arms a {
    display: block;
    text-decoration: none;
    border: 0 solid #ccc;
    border-width: 1px 0;
    margin: 4px 0;
    padding: 3px;
    color: #444;
    /* for IE */
    height: 1%;
}
.arms a:hover {
    background-color: #ccc !important;
    color: #000;
}
.arms a.selected {
    background-color: #ddd;
}
