h2 {
    margin: 0;
    padding: 4px;
    font-family: sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: #999;
}

.section {
    border: 2px solid #666;
    margin: 1em 0;
}

.section p {
    margin: 1em;
}

.day {
    margin: 1em 0;
    position: relative;
}

.day h3 {
    float: left;
    margin: 0;
    font-size: 1em;
    padding-top: 2px;
}

.day ul {
    margin-left: 4em;
    padding: 0;
}

.day ul li {
    list-style-type: none;
    padding: 0;
}

.tip {
    font-size: 80%;
}

.epochs-and-arms {
    position: relative;
}
.epoch {
    float: left;
    height: 100%;
    border: 1px solid #666;
    border-right-width: 0;
}
.epoch.last {
    border-right-width: 1px;
}
.epoch h4 {
    margin: 0;
    padding: 4px;
    color: #666;
    background-color: white;
}
.arms a {
    display: block;
    text-decoration: none;
    border: 0 solid #ccc;
    border-width: 1px 0;
    margin: 4px 0;
    padding: 3px;
    color: #444;
    /* for IE */
    height: 1%;
}
.arms a:hover {
    background-color: #ccc !important;
    color: #000;
}
.arms a.selected {
    background-color: #ddd;
}

