ul
  padding: 0
  margin: 0
  li
    list-style-type: none
    padding: 0
    margin: 0

#available-studies
  li.site
    position: relative
    width: 25em
    min-height: 3em
    .controls
      position: absolute
      width: 18em
      right: -18em
      top: 0
  li.assignment
    list-style-type: disc
    margin-left: 2em
    &.off-study
      font-style: italic
    &.owned
      font-weight: bold

#past-due
  display: none

#loading
  position: absolute
  right: 18px
  background-color: #fff
  border: 2px solid #900
  color: #900
  padding: 3px
  border-radius: 5px
  -moz-border-radius: 5px
  .indicator
    visibility: visible
    vertical-align: middle

#upcoming
  p
    vertical-align: middle
    line-height: 1.5em
  #activity-type-multiple, #activity-type-multiple select
    vertical-align: top
  ul.upcoming-day
    width: 30em
    li.subject
      text-align: right
      padding: 0.5em
  a.subject-name
    float: left
    width: 12em
  ul.subject-day-activities
    float: right
    width: 16em
    margin-left: 1em
    li
      text-align: left

#notifications
  #notification-error
    display: none
  ul#notification-subjects
    li.notification-subject
      padding: 0.5em
  ul.subject-notifications
    margin-left: 3em
    li.notification
      text-align: left
      list-style-type: disc
