#available-studies
  ul
    padding: 0
    margin: 0
    li
      list-style-type: none
      padding: 0
      margin: 0
  li.site
    position: relative
    width: 35em
    .controls
      position: absolute
      right: 0
      top: 0
  li.assignment
    list-style-type: disc
    margin-left: 2em