<?xml version="1.0" encoding="UTF-8"?>

<!--L
  Copyright Northwestern University.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/psc/LICENSE.txt for details.
L-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
  default-lazy-init="true"   >
    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="studyGridService" class="edu.northwestern.bioinformatics.studycalendar.grid.PSCStudyService">
        <property name="studyXMLReader" ref="studyXMLReader"/>
        <property name="studyXMLWriter" ref="studyXMLWriter"/>
        <property name="studyService" ref="studyService"/>
      </bean>


    <import resource="classpath:applicationContext-dao.xml"></import>
    <import resource="classpath:applicationContext-api.xml"/>
    <import resource="classpath:applicationContext-command.xml"></import>
    <import resource="classpath:applicationContext-db.xml"/>
    <import resource="classpath:applicationContext-security.xml"/>
    <import resource="classpath:applicationContext-service.xml"/>
    <import resource="classpath:applicationContext-spring.xml"/>
    <import resource="classpath:applicationContext-representations.xml"/>
    
</beans>