.search_box {
    float:right;
    border: 1px dotted #ccc;
    width:8em;
    height:6em;
    padding:1em;
}

.search-filters {
    float:left;
    width:85%
}

input.button {
    display:block;
    margin: 0.5em 0;
}

.even { background: lightblue; }
.odd  { background: lavender; }

.filterInput {
    font-size: 10pt;
    white-space: nowrap ;
    padding: 0 0.5em;
}

.filterGroup {
    padding: 0.5em 0.5em ;
    margin: 0.7em 0;
    background-color: #ddc ;
    color: #666 ;
    font-weight: bold ;
}

#export {
    margin-top: 1em;
    font-weight: normal;
}

#authorization-disclaimer {
    font-weight: normal;
}

th, a { background-repeat: no-repeat; }