<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        default-lazy-init="true">
    <tx:annotation-driven proxy-target-class="true"/>

    <import resource="classpath:applicationContext-api.xml"/>
    <import resource="classpath:applicationContext-dao.xml"></import>
    <import resource="classpath:applicationContext-db.xml"/>
    <import resource="classpath:applicationContext-mail.xml"/>
    <import resource="classpath:applicationContext-representations.xml"/>
    <import resource="classpath:applicationContext-csm.xml"/>
    <import resource="classpath:applicationContext-service.xml"/>
    <import resource="classpath:applicationContext-spring.xml"/>
    <import resource="classpath:applicationContext-core-osgi.xml"/>


    <bean id="registrationConsumer" class="edu.northwestern.bioinformatics.studycalendar.grid.PSCRegistrationConsumer">
        <property name="auditHistoryRepository" ref="auditHistoryRepository"/>
        <property name="registrationConsumerGridServiceUrl" ref="registrationConsumerGridServiceUrl"/>
        <property name="studyService" ref="studyService"/>
        <property name="subjectDao" ref="subjectDao"/>
        <property name="subjectService" ref="subjectService"/>
        <property name="rollbackTimeOut" ref="rollbackTimeOut"/>
        <property name="pscUserDetailsService" ref="pscUserService"/> 
    </bean>

    <bean id="rollbackTimeOut" class="java.lang.String">
        <constructor-arg value="${grid.rollback.timeout}"/>
    </bean>


    <bean id="registrationConsumerGridServiceUrl" class="java.lang.String">
        <constructor-arg value="${grid.registrationconsumer.url}"/>
    </bean>

</beans>