<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    >
    <bean id="authenticationSystemSocket"
          class="edu.northwestern.bioinformatics.studycalendar.security.AuthenticationSystemSocket">
        <property name="configuration" ref="authenticationSystemConfiguration"/>
    </bean>

    <bean id="authenticationSystemConfiguration" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.security.AuthenticationSystemConfiguration">
        <property name="delegate">
            <bean class="edu.northwestern.bioinformatics.studycalendar.security.StoredAuthenticationSystemConfiguration"
                  autowire="byName"/>
        </property>
    </bean>
</beans>