<!--
    Beans for accessing the embedded OSGi layer
    -->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    >
    <bean id="bundleContext" class="edu.northwestern.bioinformatics.studycalendar.web.tools.BundleContextLocator"/>

    <bean id="hostBeansInitializer" class="edu.northwestern.bioinformatics.studycalendar.web.osgi.HostBeansInitializer">
        <property name="bundleContext" ref="bundleContext"/>
    </bean>
</beans>