<!--
    Beans for accessing the embedded OSGi layer
    -->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    >
    <bean id="bundleContext" class="edu.northwestern.bioinformatics.studycalendar.web.tools.BundleContextLocator"/>

    <bean id="hostBeansInitializer" class="edu.northwestern.bioinformatics.studycalendar.web.osgi.HostBeansInitializer">
        <property name="bundleContext" ref="bundleContext"/>
        <property name="membrane" ref="membrane"/>
    </bean>

    <bean id="membrane" class="edu.northwestern.bioinformatics.studycalendar.utility.osgimosis.Membrane">
        <property name="nearClassLoader">
            <bean class="edu.northwestern.bioinformatics.studycalendar.web.osgi.ContextClassLoaderFactoryBean"/>
        </property>
        <property name="sharedPackages">
            <list>
                <value>edu.northwestern.bioinformatics.studycalendar.security</value>
                <value>edu.northwestern.bioinformatics.studycalendar.security.plugin</value>
                <value>edu.northwestern.bioinformatics.studycalendar.osgi.hostservices</value>

                <value>org.acegisecurity</value>
                <value>org.acegisecurity.userdetails</value>
                <value>org.springframework.context</value>

                <value>javax.sql</value>
                <value>javax.servlet</value>
                <value>javax.servlet.http</value>
            </list>
        </property>
        <property name="proxyConstructorParameters">
            <map>
                <entry key="javax.servlet.http.Cookie">
                    <list>
                        <value>proxy-cookie</value>
                        <value>no-value</value>
                    </list>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="installedAuthenticationSystem" class="edu.northwestern.bioinformatics.studycalendar.web.InstalledAuthenticationSystem">
        <property name="bundleContext" ref="bundleContext"/>
        <property name="membrane" ref="membrane"/>
    </bean>
</beans>