<?xml version="1.0" encoding="UTF-8"?>

<!--L
  Copyright Northwestern University.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.io/psc/LICENSE.txt for details.
L-->

<!--
    This applicationContext contains the definition of those commands
    that are not directly created by their controllers
-->

<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    >
    <bean id="renameCommand" autowire="byName" scope="prototype"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.RenameCommand"/>
    <bean id="addToTemplateCommand" autowire="byName" scope="prototype"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.AddToCommand"/>
    <bean id="deleteCommand" autowire="byName" scope="prototype"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.DeleteCommand"/>
    <bean id="moveCommand" autowire="byName" scope="prototype"
        class="edu.northwestern.bioinformatics.studycalendar.web.template.MoveCommand"/>
</beans>
