<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    >

    <bean id="siteFormAction" class="org.springframework.webflow.action.FormAction">
        <property name="formObjectClass" value="edu.northwestern.bioinformatics.studycalendar.domain.Site"/>
        <!-- TODO:
        <property name="validator">
            <bean class="edu.northwestern.bioinformatics.studycalendar.domain.validators.SiteValidator"/>
        </property>
        -->
    </bean>
    <bean id="sourceFormAction" class="org.springframework.webflow.action.FormAction">
        <property name="formObjectClass" value="edu.northwestern.bioinformatics.studycalendar.domain.Source"/>
    </bean>
    <bean id="selectAuthenticationSystemFormAction" class="edu.northwestern.bioinformatics.studycalendar.web.setup.SelectAuthenticationSystemFormAction" autowire="byName"/>
    <bean id="authenticationSystemSetupFormAction" class="edu.northwestern.bioinformatics.studycalendar.web.setup.AuthenticationSystemSetupFormAction" autowire="byName"/>
    <bean id="adminFormAction" class="edu.northwestern.bioinformatics.studycalendar.web.setup.FirstAdministratorFormAction">
        <property name="csmAuthorizationManager" ref="osgiCsmAuthorizationManager"/>
        <property name="provisioningSessionFactory" ref="provisioningSessionFactory"/>
        <property name="installedAuthenticationSystem" ref="installedAuthenticationSystem"/>
    </bean>
</beans>