<configuration>
    <contextName>PSC Primary Webapp</contextName>
    <if condition='p("psc.logging.debug").equals("true")'>
        <then>
            <appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${catalina.home}/logs/studycalendar-debug.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>${catalina.home}/logs/studycalendar-debug.%i.log</FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>1</MaxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>64MB</MaxFileSize>
                </triggeringPolicy>
                <encoder>
                    <pattern>
                        %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %36logger{36} %-5level | %1X{depth} | %msg%n
                    </pattern>
                </encoder>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>TRACE</level>
                </filter>
            </appender>
            <root>
                <appender-ref ref="DEBUGFILE"/>
            </root>
        </then>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d [%thread] %logger{36} %-5level: %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/studycalendar.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${catalina.home}/logs/studycalendar.%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %date{HH:mm:ss} %-5level: %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="warn-only-for-libs">
                <expression>
                    (level &lt; WARN)
                        &amp;&amp; !(
                            logger.startsWith("edu.northwestern.bioinformatics")
                            || logger.endsWith("DispatcherServlet")
                        )
                </expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="cglib-fake-warnings">
                <expression>
                    (level == WARN)
                        &amp;&amp; logger.endsWith("Cglib2AopProxy")
                        &amp;&amp; message.contains("Unable to proxy method")
                        &amp;&amp; message.contains("because it is final")
                </expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="edu.northwestern.bioinformatics"><level value="trace"/></logger>
    <logger name="org.hibernate.type">             <level value="trace"/></logger>

    <logger name="edu.northwestern.bioinformatics.studycalendar.core.accesscontrol"><level value="debug"/></logger>
    <logger name="edu.northwestern.bioinformatics.studycalendar.utility.osgimosis"><level value="debug"/></logger>

    <logger name="org.apache.commons.digester"><level value="info"/></logger>
    <logger name="org.apache.catalina">        <level value="info"/></logger>
    <logger name="org.apache.jasper">          <level value="info"/></logger>
    <logger name="org.acegisecurity.intercept.web.PathBasedFilterInvocationDefinitionMap"><level value="info"/></logger>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory">  <level value="info"/></logger>
</configuration>