<!--L
  Copyright Northwestern University.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/psc/LICENSE.txt for details.
L-->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %40logger{40} %5level | %1X{depth} | %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${project_root}/studycalendar-test.log</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date{HH:mm:ss.SSS} [%thread] %36logger{36} %-5level: %msg%n
            </Pattern>
        </layout>
    </appender>

    <root>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="edu.northwestern.bioinformatics.studycalendar">
        <level value="trace"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="edu.northwestern.bioinformatics.studycalendar.core.accesscontrol"><level value="debug"/></logger>
    <logger name="gov.nih.nci.cabig.ctms"><level value="trace"/></logger>

    <logger name="org.hibernate.type">         <level value="trace"/></logger>
    <logger name="org.apache.commons.digester"><level value="info"/></logger>
    <logger name="org.springframework">        <level value="debug"/></logger>
    <logger name="org.apache.catalina">        <level value="info"/></logger>
    <logger name="org.apache.jasper">          <level value="info"/></logger>

</configuration>