<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the DAOs
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >

    <!-- HIBERNATE CONFIGURATION -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire="byName">
        <property name="mappingLocations">
            <list>
                <value>classpath:edu/northwestern/bioinformatics/studycalendar/domain/hibernate/typedefs.hbm.xml</value>
                <!--<value>classpath:edu/northwestern/bioinformatics/studycalendar/domain/hibernate/overrides.xml</value>-->
            </list>
        </property>
        <property name="namingStrategy">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.hibernate.StudyCalendarNamingStrategy"/>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Arm</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Duration</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Period</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Study</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Activity</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ActivityType</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.PlannedEvent</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Site</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudySite</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Participant</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudyParticipantAssignment</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.PlannedCalendar</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Epoch</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledCalendar</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledArm</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledEvent</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.scheduledeventstate.Scheduled</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.scheduledeventstate.Occurred</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.scheduledeventstate.Canceled</value>
                <value>edu.northwestern.bioinformatics.studycalendar.utils.configuration.ConfigurationEntry</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.auditing.LoginAudit</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.reporting.ReportRow</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.AdverseEvent</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.AdverseEventNotification</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Holiday</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.DayOfTheWeek</value>
            </list>
        </property>
        <property name="entityInterceptor">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.GridIdentifierInterceptor" autowire="byType">
                <property name="delegate"><ref local="auditInterceptor"/></property>
            </bean>
        </property>
    </bean>
    <bean id="auditSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire="byName">
        <property name="annotatedClasses">
            <list>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.auditing.DataAuditEvent</value>
                <value> edu.northwestern.bioinformatics.studycalendar.domain.auditing.DataAuditEventValue</value>
            </list>
        </property>
        <property name="namingStrategy">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.hibernate.StudyCalendarNamingStrategy"/>
        </property>
    </bean>

    <bean id="auditInterceptor" class="edu.northwestern.bioinformatics.studycalendar.utils.auditing.AuditInterceptor" autowire="byType"/>
    <bean id="gridIdentifierCreator" class="edu.northwestern.bioinformatics.studycalendar.utils.LocalGridIdentifierCreator"/>

    <bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName">
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_AUTO</value></property>
    </bean>

    <bean id="auditOpenSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
        <property name="sessionFactory"><ref local="auditSessionFactory"/></property>
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_AUTO</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" autowire="byName"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations"><value>true</value></property>
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate"><ref local="hibernateTemplate"/></property>
    </bean>

    <bean id="configuration" parent="daoTemplate"
          class="edu.northwestern.bioinformatics.studycalendar.utils.configuration.Configuration"/>

    <!-- ACTUAL DAOS -->

    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="studyDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudyDao"/>
    <bean id="plannedCalendarDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PlannedCalendarDao"/>
    <bean id="epochDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.EpochDao"/>
    <bean id="armDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ArmDao"/>
    <bean id="activityDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ActivityDao"/>
    <bean id="plannedEventDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PlannedEventDao"/>
    <bean id="periodDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PeriodDao"/>

    <bean id="siteDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.SiteDao"/>
    <bean id="participantDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ParticipantDao"/>
    <bean id="studyParticipantAssignmentDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudyParticipantAssignmentDao"/>
    <bean id="studySiteDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudySiteDao"/>

    <bean id="scheduledCalendarDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledCalendarDao"/>
    <bean id="scheduledArmDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledArmDao"/>
    <bean id="scheduledEventDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledEventDao"/>
    <bean id="adverseEventNotificationDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.AdverseEventNotificationDao"/>

    <bean id="loginAuditDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.auditing.LoginAuditDao"/>
    <bean id="reportRowDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.reporting.ReportRowDao"/>

    <!--<bean id="holidayDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.HolidayDao"/>-->
    <!--<bean id="dayOfTheWeekDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.DayOfTheWeekDao"/>-->

    <bean id="dataAuditDao" class="edu.northwestern.bioinformatics.studycalendar.dao.auditing.DataAuditDao">
        <property name="sessionFactory"><ref local="auditSessionFactory"/></property>
    </bean>

</beans>
