<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
    This applicationContext contains the definition of the DAOs
-->

<beans>
    <!-- HIBERNATE CONFIGURATION -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire="byName">
        <property name="mappingLocations">
            <list>
                <value>classpath:edu/northwestern/bioinformatics/studycalendar/domain/hibernate/typedefs.hbm.xml</value>
                <!--<value>classpath:edu/northwestern/bioinformatics/studycalendar/domain/hibernate/overrides.xml</value>-->
            </list>
        </property>
        <property name="namingStrategy">
            <bean class="edu.northwestern.bioinformatics.studycalendar.utils.hibernate.StudyCalendarNamingStrategy"/>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Arm</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Duration</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Period</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Study</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Activity</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ActivityType</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.PlannedEvent</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Site</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudySite</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Participant</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.StudyParticipantAssignment</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.PlannedCalendar</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.Epoch</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledCalendar</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledArm</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.ScheduledEvent</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.scheduledeventstate.Scheduled</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.scheduledeventstate.Occurred</value>
                <value>edu.northwestern.bioinformatics.studycalendar.domain.scheduledeventstate.Canceled</value>

                <value>edu.northwestern.bioinformatics.studycalendar.utils.configuration.ConfigurationEntry</value>
            </list>
        </property>
    </bean>

    <bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName">
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_AUTO</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" autowire="byName"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations"><value>true</value></property>
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate"><ref local="hibernateTemplate"/></property>
    </bean>

    <bean id="configuration" parent="daoTemplate"
          class="edu.northwestern.bioinformatics.studycalendar.utils.configuration.Configuration"/>

    <!-- ACTUAL DAOS -->

    <bean id="studyDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudyDao"/>
    <bean id="plannedCalendarDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PlannedCalendarDao"/>
    <bean id="armDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ArmDao"/>
    <bean id="activityDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ActivityDao"/>
    <bean id="plannedEventDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PlannedEventDao"/>
    <bean id="periodDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.PeriodDao"/>

    <bean id="siteDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.SiteDao"/>
    <bean id="participantDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ParticipantDao"/>
    <bean id="studyParticipantAssignmentDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudyParticipantAssignmentDao"/>
    <bean id="studySiteDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.StudySiteDao"/>

    <bean id="scheduledCalendarDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledCalendarDao"/>
    <bean id="scheduledArmDao" parent="daoTemplate" class="edu.northwestern.bioinformatics.studycalendar.dao.ScheduledArmDao"/>

</beans>
