<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >

    <tx:annotation-driven/>

    <bean id="participantService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.ParticipantService"/>
    <bean id="siteService" autowire="byName"
          class="edu.northwestern.bioinformatics.studycalendar.service.SiteService"/>     
</beans>